
        @{
            ViewBag.Title = "Confirm Email";
        }

        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your Email. @Html.ActionLink("Haga clic aquí para ingresar", "Log in", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
