
        @{
            ViewBag.Title = "Login error";
        }

        <hgroup>
            <h2>@ViewBag.Title.</h2>
            <h3 class="text-danger">El inicio de sesión con el servicio no se ha realizado correctamente.</h3>
        </hgroup>

