
        @{
            ViewBag.Title = "Password forgotten confirmation";
        }

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Verifique el correo electrónico para restablecer la contraseña.
            </p>
        </div>


