
        @{
            ViewBag.Title = "Password reset confirmation";
        }

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                La contraseña fue restablecida. @Html.ActionLink("Haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

