@model BaseDeDatosWarioSoft.Models.Modality
<br>
<br>
<div class="formu">
    <div class="formui">
        @{
            ViewBag.Title = "Details";
        }

        <h2>Detalles</h2>

        <div>
            <h4>Modalidad</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nameModality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nameModality)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdModality }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Volver a la lista", "Index", new { }, new { @class = "btn btn-primary" })
        </p>
        </div>
</div>