@model Tidsplan.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron text-center">
    


            <h1>TIDSPLAN</h1>

            <p class="lead">"Horario organizado pensando en tus necesidades"</p>

            <img src="~/Controllers/tidsplan.png" alt="tidslk" width="310" id="tids"class="grow" />      
  


</div>




 